/* 375px lower screen resolution */
@media only screen and (min-width: 375px) {

body {
    width: 100%;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menuimg {
    height: 4em;
    width: 4em;
    cursor: pointer;
    float: right;
    position:sticky;
}

a {
    display: inline-block;
    color: white;
    text-align: right;
    padding: 2em;
    padding-top: 4em;
    text-decoration: none;
  }

.imgRow {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.pic {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    z-index: 1;
    width: 15em;
}

.vector1 {
width: 100%;
position: absolute;
top: 15em;
}

.name {
    text-align: center;
    z-index: 1;
}

.na {
    font-size: 2rem;
    color: gray;
    margin-top: 1em;
}

.pro {
    font-size: 4rem;
    margin: 0.2em;
}

.social {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.in {
width: 4rem;
padding: 10px;
cursor: pointer;
}

.ins {
    width: 4rem;
    padding: 10px;
    cursor: pointer;
    }

.twi {
    width: 4rem;
    padding: 10px;
    cursor: pointer;
    }

.about {
        display: block;
        text-align: center;
        padding-top: 3em;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
    }

p {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

.vector2box {
    width: 100%;
    margin: 0;
    position: block;
    display: flex;
    margin-top: -150px;
    margin-bottom: -200px;
}

.vector2 {
    width: 100%;
    display: flex;
    align-content: center;
}

.title1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1em;
    margin-top: 1.5em;
}

.title2 {
        text-align: center;
        font-size: 3rem;
        margin-top: 0;
        margin-bottom: 1.5em;
    }

.title3 {
        padding-top: 1.1em;        
        margin-bottom: 1em;
        text-align: center;
        font-size: 3rem;
    }

.title4 {
        margin-top: 1.5em;
        margin-bottom: 1em;
        text-align: center;
        font-size: 3rem;
    }

.icon1 {
    width: 5em;
    height: 5em;
    padding: 1.5em;
    background: none;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid white;
    text-decoration: none;
    text-align: center;
}

.mobileicon {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 8em;
    justify-content: center;
    column-gap: 2em;
    margin-bottom: 8em;
}

.caption1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.table {
    display: inline;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    color: gray;
    border-color: gray;

}

.tableheader {
    color:white;
    padding-top: 1.5em;
    width: 60em;
    text-align: right;
    font-size: 1.3rem;
}

.ent {
    border-bottom: 1px solid gray;
    text-align: right;
    font-size: 1.3rem;
}

.year {
    width: 49em;
    text-align: auto;
    padding-top: 1.5em;
    font-size: 1.3rem;
}

.portfolioContent {
display: flex;
flex-wrap: wrap;
gap: 1em;
}

.port {
display: flex;
padding: 1em;
width: 100%;
height: 100%;
}

.experience {
display: flex;
width: 100%;
}

.table2 {
    display: block;
    text-align: center;
    align-items: center;
    align-content: center;
}

.flex-grid {
    display: grid;
    grid-template-columns: 11em;
    grid-template-rows: 7em 2em;
    grid-auto-flow: column;
  }

  .col {
display: flex;
margin-top: 1em;
justify-content: center;
font-size: 1.3rem;
cursor: pointer;
}

.conticon {
    width: 3em;
    height: 3em;
    size: 50%;
    padding: 1em;
    background: gray;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    text-align: center;
}

.caption2 {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1.1rem;
}

.copyright {
    
    margin-top: 4em;
    background-color: gray;
    padding: 10px;
    text-align: center;
}

.copytext{
    font-size: 1.4rem;
}

}

@media (min-width: 576px) {
    
    html {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .imgRow {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        }
    
    .pic {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        z-index: 1;
        width: 20em;
    }

    .vector2box {
        width: 100%;
        margin: 0;
        position: block;
        display: flex;
        margin-top: -200px;
        margin-bottom: -250px;
    }

    p  {
        padding-left: 2em;
        padding-right: 2em;
        }

    .pro {
            font-size: 3rem;
            margin: 0.2em;
        }

        .mobileicon {
            display: grid;
            grid-template-columns: repeat(2, auto);
            row-gap: 10em;
            align-items: center;
            justify-content: center;
            column-gap: 5em;
            margin-bottom: 9em;
        }

        .caption1 {
            display: block;
            margin-top: 2em;
            /* margin-left: -2em;
            margin-right: -2em; */
        }

        .tableheader {
            color:white;
            padding-top: 1.5em;
            margin-left: 0.2em;
        }
        
        .ent {
            margin-left: 0.1em;
            padding-right: 0;
            border-bottom: 1px solid gray;
        }
        
        .year {
            padding-left: 0;
            padding-top: 1em;
            margin-right: 2em;
            text-align: left;
        }

        .flex-grid {
            display: grid;
            grid-template-columns: 17em;
            grid-template-rows: 7em 2em;
            grid-auto-flow: column;
          }

        .port {
            padding: 0.7em;
            width: 95%;
            }   


        .copyright {
            font-size: 0.8rem;
            margin-top: 80px;
            background-color: gray;
            padding: 10px;
            text-align: center;
        }

        .copytext{
            font-size: 1.8rem;
        }
} 

@media only screen and (min-width: 768px) {
    body {
    width: 100%;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menuimg {
    height: 4em;
    width: 4em;
    cursor: pointer;
    float: right;
    position:sticky;
}

a {
    display: inline-block;
    color: white;
    text-align: right;
    padding: 2em;
    padding-top: 4em;
    text-decoration: none;
  }

.imgRow {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.pic {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    z-index: 1;
    width: 15em;
}

.vector1 {
width: 100%;
position: absolute;
top: 15em;
}

.name {
    text-align: center;
    z-index: 1;
}

.na {
    font-size: 2rem;
    color: gray;
    margin-top: 1em;
}

.pro {
    font-size: 4rem;
    margin: 0.2em;
}

.social {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.in {
width: 4rem;
padding: 10px;
cursor: pointer;
}

.ins {
    width: 4rem;
    padding: 10px;
    cursor: pointer;
    }

.twi {
    width: 4rem;
    padding: 10px;
    cursor: pointer;
    }

.about {
        display: block;
        text-align: center;
        padding-top: 3em;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
    }

p {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

.vector2box {
    width: 100%;
    margin: 0;
    position: block;
    display: flex;
    margin-top: -300px;
    margin-bottom: -300px;
}

.vector2 {
    width: 100%;
    display: flex;
    align-content: center;
}

.title1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1em;
    margin-top: 1.5em;
}

.title2 {
        text-align: center;
        font-size: 3rem;
        margin-top: 0;
        margin-bottom: 1.5em;
    }

.title3 {
        padding-top: 1.1em;        
        margin-bottom: 1em;
        text-align: center;
        font-size: 3rem;
    }

.title4 {
        margin-top: 1.5em;
        margin-bottom: 1em;
        text-align: center;
        font-size: 3rem;
    }

.icon1 {
    width: 5em;
    height: 5em;
    padding: 1.5em;
    background: none;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid white;
    text-decoration: none;
    text-align: center;
}

.mobileicon {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 10em;
    justify-content: center;
    column-gap: 11em;
    margin-bottom: 8em;
}

.caption1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.table {
    display: inline;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    color: gray;
    border-color: gray;

}

.tableheader {
    color:white;
    padding-top: 1.5em;
    width: 60em;
    text-align: right;
    font-size: 2rem;
}

.ent {
    border-bottom: 1px solid gray;
    text-align: right;
    font-size: 2rem;
    padding: 0;
}

.year {
    width: 49em;
    text-align: left;
    padding-top: 1.5em;
    font-size: 2rem;
}

.portfolioContent {
display: flex;
flex-wrap: wrap;
gap: 1em;
}

.port {
display: flex;
padding: 1em;
width: 100%;
height: 100%;
}

.experience {
display: flex;
width: 100%;
}

.table2 {
    display: block;
    text-align: center;
    align-items: center;
    align-content: center;
}

.flex-grid {
    display: grid;
    grid-template-columns: 11em;
    grid-template-rows: 7em 2em;
    grid-auto-flow: column;
  }

  .col {
display: flex;
margin-top: 1em;
justify-content: center;
font-size: 1.3rem;
cursor: pointer;
}

.conticon {
    width: 3em;
    height: 3em;
    size: 50%;
    padding: 1em;
    background: gray;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    text-align: center;
}

.caption2 {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1.5rem;
}

.flex-grid {
    display: grid;
    grid-template-columns: 25em;
    grid-template-rows: 7em 2em;
    grid-auto-flow: column;
    padding-bottom: 50px;
  }

.copyright {
    
    margin-top: 4em;
    background-color: gray;
    padding: 10px;
    text-align: center;
}

.copytext{
    font-size: 1.4rem;
}
}


@media only screen and (min-width: 960px) {

    body {
        width: 100%;
        margin: 0;
        background-color: black;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .menuimg {
        height: 4em;
        width: 4em;
        cursor: pointer;
        float: right;
        position:sticky;
    }
    
    a {
        display: inline-block;
        color: white;
        text-align: right;
        padding: 2em;
        padding-top: 4em;
        text-decoration: none;
      }
    
    .imgRow {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    
    .pic {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
        z-index: 1;
        width: 25em;
    }
    
    .vector1 {
    width: 100%;
    position: absolute;
    top: 15em;
    }
    
    .name {
        text-align: center;
        z-index: 1;
    }
    
    .na {
        font-size: 2rem;
        color: gray;
        margin-top: 1em;
    }
    
    .pro {
        font-size: 4rem;
        margin: 0.2em;
    }
    
    .social {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    
    .in {
    width: 4rem;
    padding: 10px;
    cursor: pointer;
    }
    
    .ins {
        width: 4rem;
        padding: 10px;
        cursor: pointer;
        }
    
    .twi {
        width: 4rem;
        padding: 10px;
        cursor: pointer;
        }
    
    .about {
            display: block;
            text-align: center;
            padding-top: 3em;
            padding-left: 3rem;
            padding-right: 3rem;
            padding-bottom: 3rem;
        }
    
    p {
            font-size: 1.5rem;
            line-height: 2.5rem;
        }
    
    .vector2box {
        width: 100%;
        margin: 0;
        position: block;
        display: flex;
        margin-top: -380px;
        margin-bottom: -350px;
    }
    
    .vector2 {
        width: 100%;
        display: flex;
        align-content: center;
    }
    
    .title1 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 1em;
        margin-top: 1.5em;
    }
    
    .title2 {
            text-align: center;
            font-size: 3rem;
            margin-top: 0;
            margin-bottom: 1.5em;
        }
    
    .title3 {
            padding-top: 1.1em;        
            margin-bottom: 1em;
            text-align: center;
            font-size: 3rem;
        }
    
    .title4 {
            margin-top: 1.5em;
            margin-bottom: 1em;
            text-align: center;
            font-size: 3rem;
        }
    
    .icon1 {
        width: 5em;
        height: 5em;
        padding: 1.5em;
        background: none;
        display: block;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid white;
        text-decoration: none;
        text-align: center;
    }
    
    .mobileicon {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, auto);
        row-gap: 8em;
        justify-content: center;
        column-gap: 6em;
        margin-bottom: 8em;
    }
    
    .caption1 {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    
    .table {
        display: inline;
        width: 100%;
        padding-left: 2em;
        padding-right: 2em;
        color: gray;
        border-color: gray;
    
    }
    
    .tableheader {
        color:white;
        padding-top: 1.5em;
        width: 60em;
        text-align: right;
        font-size: 1.3rem;
    }
    
    .ent {
        border-bottom: 1px solid gray;
        text-align: right;
        font-size: 1.3rem;
    }
    
    .year {
        width: 49em;
        text-align: auto;
        padding-top: 1.5em;
        font-size: 1.3rem;
    }
    
    .portfolioContent {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    }
    
    .port {
    display: flex;
    padding: 0.2em;
    width: 30%;
    height: 30%;
    cursor: pointer;
    }
    
    .experience {
    display: flex;
    width: 100%;
    }
    
    .table2 {
        display: block;
        text-align: center;
        align-items: center;
        align-content: center;
    }
    
    .flex-grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 8em 2em;
        grid-auto-flow: column;
      }
    
      .col {
    display: flex;
    margin-top: 1em;
    justify-content: center;
    font-size: 1.3rem;
    cursor: pointer;
    }
    
    .conticon {
        width: 3em;
        height: 3em;
        size: 50%;
        padding: 1em;
        background: gray;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 50%;
        border: none;
        text-decoration: none;
        text-align: center;
    }
    
    .caption2 {
        width: 100%;
        display: block;
        text-align: center;
        font-size: 2rem;
    }
    
    .copyright {
        
        margin-top: 4em;
        background-color: gray;
        padding: 10px;
        text-align: center;
    }
    
    .copytext{
        font-size: 1.4rem;
    }
    
    }


}